* {
    padding: 0;
    margin: 0;
} 

body {
	background: #fff url(images/bg.jpg) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;;
}

img { border: none; }
a { color: #0A6380; text-decoration: none; }
a:hover { text-decoration: underline; color : #000; }

#wrap {
	margin: 0 auto;
	width: 800px;
}

#header { 
	height: 150px;
}
#header h1 {
	font-size: 30px;
	font-weight: 100;
	letter-spacing: -1px;
	padding: 40px 0 10px 0;
}
#header h1 a {
	color: #0A6380;
	text-decoration: none;
}
#header h1 a:hover {
	color: #222;
	text-decoration: none;
}
#header h2 {
	color: #3692AF;
	font-size: 19px;
	font-weight: 100;
	padding: 0 0 0 0;
	letter-spacing: -1px;
	line-height: 12px;
}

#content {
  padding: 10px 0;
}

.left {
	width: 568px;
	float: left;
	text-align: justify;
}
.left p {
	padding-top: 15px;
}
.left h2 {
	color: #FF4800;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: 100;
	padding : 15px 0 15px 0;
}

.right {
	width: 160px;
	float: right;
	padding: 10px;
	border-left: 1px solid #bbb;
	font-size: 12px;
}
.right ul {
	list-style-type: none;
	padding: 5px 10px 10px 10px;
}
.right h2 {
	height: 30px;
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.right a { text-decoration: none }

#footer {
	border-top: 1px solid #bbb;
	text-align: center;
	color: #333;
	font-size: 11px;
	margin-top: 10px;
	padding: 5px 0 10px 0;
}